@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Web

<button type="@ButtonType" 
        class="fabos-btn @GetButtonClasses()" 
        @onclick="OnClick" 
        disabled="@IsDisabled"
        @attributes="AdditionalAttributes">
    @if (!string.IsNullOrEmpty(IconClass))
    {
        <i class="@IconClass"></i>
    }
    @if (!string.IsNullOrEmpty(Text))
    {
        <span class="fabos-btn-text">@Text</span>
    }
    @ChildContent
</button>
