@namespace FabOS.WebServer.Components.Shared
@using FabOS.WebServer.Models
@typeparam TItem

<div class="generic-table-view" data-table-container="true">
    @if (Items?.Any() == true)
    {
        <div class="table-responsive">
            <table class="table table-striped @TableClass">
                <thead>
                    <tr>
                        @if (ShowSelection)
                        {
                            <th>
                                <input type="checkbox" @onchange="@ToggleAllSelection" />
                            </th>
                        }
                        @foreach (var column in Columns)
                        {
                            <th class="@column.CssClass">@column.Header</th>
                        }
                        @if (ShowActions)
                        {
                            <th>Actions</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Items)
                    {
                        <tr @onclick="@(() => OnRowClick.InvokeAsync(item))" @ondblclick="@(() => OnRowDoubleClick.InvokeAsync(item))">
                            @if (ShowSelection)
                            {
                                <td @onclick:stopPropagation="true">
                                    <input type="checkbox" checked="@(IsSelected?.Invoke(item) == true)" 
                                           @onchange="@(args => HandleItemSelectionChanged(item, (bool)args.Value!))" />
                                </td>
                            }
                            @foreach (var column in Columns)
                            {
                                <td class="@column.CssClass">
                                    @column.ValueSelector(item)
                                </td>
                            }
                            @if (ShowActions)
                            {
                                <td @onclick:stopPropagation="true">
                                    @if (ActionsTemplate != null)
                                    {
                                        @ActionsTemplate(item)
                                    }
                                    else
                                    {
                                        <button class="btn btn-sm btn-primary" @onclick="@(() => OnEdit.InvokeAsync(item))">Edit</button>
                                        <button class="btn btn-sm btn-danger" @onclick="@(() => OnDelete.InvokeAsync(item))">Delete</button>
                                    }
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <div class="alert alert-info">@EmptyMessage</div>
    }
</div>
